
<div id="removeongame" class="removeongame">
<div class="col-md-10 col-md-offset-1">
<% if params[:id] %>
<% note_html = Note.friendly.find(params[:id]) %>

<% else %>
<% note_html = Note.friendly.find(params[:note_id]) %>
<% end %>
<div class="fr-view">

<%= note_html.file.html_safe %>

</div>
</div>
</div>
