
<div id="removeongame" class="removeongame">
<div class="col-md-10 col-md-offset-1">


<% @note.notearticles.each do |ar| %>
<%= ar.content.html_safe %>
<% end %>
<br/><br/><br/><br/>
<% @note.noteapplets.each do |ap| %>
<%= ap.content.html_safe %>
<% end %>

<br/><br/><br/><br/>

<% @note.notequestions.each do |ex| %>
<%= ex.correct_answer %>
<% end %>



</div>
</div>
