  <div class="widge-wrapper"><%= f.label :content %>
    <br/>
    <%= f.text_area :content , :class => 'editable' %>
  
  <%= link_to_remove_association "remove article", f , {wrapper_class: 'widge-wrapper'} %>
  </div>