<%= locals[:question] %> 	<br/><br/><h4>What is 15 + 12 equal to ? </h4>
<p>This is a very simple question based on elementary concepts of addition </p> 
<input type="radio" name="question1" value="male"> 27<br>
  <input type="radio" name="question1" value="female"> 26<br>
  <input type="radio" name="question1" value="other"> 37 <br/>
    <input type="radio" name="question1" value="other"> 22 <br/>
