<center>
  <h1>tell your friends through <span class="btn btn-social btn-facebook btn-lg">
          <i class="fa fa-facebook"></i>
facebook        </span></h1></center>


<br/>
<br/>
<br/>
<center>
  <h1>pass it around in your circles via <span class="btn btn-social btn-google btn-lg">
          <i class="fa fa-google"></i>
google        </span></h1></center>



<br/>
<br/>
<br/>
<center>
  <h1>make us trending on <span class="btn btn-social btn-twitter btn-lg">
          <i class="fa fa-twitter"></i>
twitter        </span></h1></center>



<br/>
<br/>


