	 <span style="font-size:25px;" class="glyphicon glyphicon-remove-circle pull-right"> </span> 
	<%= form_tag notes_lib_s_results_path, :method => :get , :id => 'video_search' , :remote => "true" do %>

<% end %>